*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    background-image: url("./../Images/BackgroundRegis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.formulir{
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 30%;
    height: 70%;
    border-radius: 15px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign{
    width: 90%;
    text-align: center;
    padding: 5%;
}

.formAsli div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registered h3{
    font-size: smaller;
}

.registered{
    display: flex;
    flex-direction: row;
}

.btnSubmit{
    background-color: rgb(255, 0, 81);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

